.env
*.db
client_secrets.json
__pycache__
node_modules
db/
.vscode
package-lock.json
bot/proxy/test.py
bot/proxy/test.js
.DS_Store
._.DS_Store
web/caddy/.caddy
lora
bot/main/core
._
bot/main/*.png
dump